.header {
    border: 2px solid gray;
    background-color: rgb(230,230,230);
    background-image: url('logo.png');
    background-repeat: no-repeat;*/
    /*height: 50px;*/
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(200,200,230);
    border: 3px solid rgb(180,180,210);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation {
    background-color: rgb(220,220,220);
    text-align: center;
    /* border: 2px solid rgb(100,100,100); */
    /* border-top: none; */
    /* float: right; */
}

.navigation ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 5px;
    padding: 0px;
}

.navigation ul li {
    display: inline;
    margin-left: 10px;
}

.content {
    
}

/*
.content table {
    border-collapse: collapse;
}

.content td {
    border: 1px solid black;
}

.content td.screenshot_cell {
    text-align: center;
}

*/

/*
pre {
    background-color: rgb(240,240,240);
    font-size: xx-small;
}
*/


textarea { 
    width: 100%;
}